Repository Qiskit/documentation, pull requests merged in 2025-06, with the labels that each got.

#3240 Add Support Center access policy to admin access group docs
  docs/guides/access-groups.mdx
Labels: content 📄

#3222 Add Runtime .40 to latest updates
  docs/guides/latest-updates.mdx
Labels: content 📄

#3360 Remove links to the old platform
  learning/courses/quantum-business-foundations/how-to-become-quantum-ready.mdx
  learning/courses/quantum-computing-in-practice/running-quantum-circuits.ipynb
  learning/courses/quantum-diagonalization-algorithms/vqe.ipynb
  learning/courses/utility-scale-quantum-computing/hardware.ipynb
Labels: content 📄, course 🎓

#3320 fix bug in real-time qubit selection tutorial
  docs/tutorials/real-time-benchmarking-for-qubit-selection.ipynb
Labels: bug 🐛, tutorial 📒

#3316 Fix `grover_oracle()`
  docs/tutorials/grovers-algorithm.ipynb
Labels: content 📄, tutorial 📒, needs triage 🤔

#3420 Update for clarity around the new version of dynamic circuits
  docs/guides/classical-feedforward-and-control-flow.ipynb
Labels: content 📄
